doctype html
html
  head
    title= tytul
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" )
    link(rel="stylesheet" href="stylesheets/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.4.5.min.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.min.js')
    script.
        $(document).on("mobileinit", function(){
            $.mobile.ajaxEnabled=false;
            $.mobile.loadingMessage = false;
        });
    script(src='/javascripts/jquery.mobile.min.js')
    script(src='/javascripts/io.js')
  body
    #naglowek
        #tytul= tytul
        button#powrot(style='display: none;')
            i.fa.fa-reply
    #galleries
        #listaGalerii
    #photographs(style='display: none;')
        #zdjecia
        br
    #bigSize(style='display: none;')
        #duzeZdjecieDiv
        #bigPic
        #guziki
            button.center(id="prev")
                i.fa.fa-arrow-left
            button.center(id="powrot3" href="#photographs")
                i.fa.fa-arrow-up
            button.center(id="next")
                i.fa.fa-arrow-right
    #stopka
        #footer= opis
