doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="stylesheets/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/jquery.mobile.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.mobile.min.js')
    script(src='/javascripts/io.js')
  body
    block content
