* {
  padding: 0;
  margin: 0;
}

.fit {
  max-width: 100%;
  max-height: 100%;
}

.center {
  display: block;
  margin: auto;
}


#galleries, #photographs, #bigSize {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif; 
  color: #AAA;
  background-color: #333;
  /*min-height: 2000px;*/
}

.ui-popup-content, .ui-popup-content > img {
  max-width: 900px;
  max-height: 600px;
  padding: 1px;
}

div.galeriaMenu {
  float: left;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #555;
  padding: 5px;
}

div.zdjecie {
  float: left;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #555;
  padding: 5px;
}

.headerText {
  color: #AAA;
}

#tytulGalerii, #tytulZdjecia {
  display: block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  color: #AAA;
  font-size: 1.5em;
}

.naglowek, .stopka {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: #AAA;
  color: #AAA;
}

.desc {
  color: #BBB;
}

.ramkaZdjecia {
  padding: 5px;
  background-color: #555;
}

.photo {
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

#zdjecia, #duzeZdjecieDiv {
  overflow:auto;
  display: block;
}

.guzik {
  overflow: auto;
  display: inline-block;
  width: 33.3333%;
}

#guziki {
  display: none;
  width: 100%;  
  padding: 3px;
  margin: auto;
}

#prev {
  float: left;
  font-size: 1.5em; 
}

#next {
  float: right; 
  font-size: 1.5em; 
}

#powrot, #powrot2 {
  width: 80%;
  font-size: 1.5em; 
}

#powrot3 {
  font-size: 1.5em; 
}



