/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/******************************* my styles **********************************/
body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-color: #333;
    color: white;
    font-family: "Open Sans",arial,sans-serif;
}

.fit {
  max-width: 100%;
  max-height: 100%;
}

.center {
  display: block;
  margin: auto;
}

#naglowek {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  background-color: #555;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  border-bottom-style: solid;
  border-color: white;
  border: 1px;
}

#stopka {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #555;
  border: 0px;
  border-top-style: solid;
  border-color: white;
  text-align: center;
  font-size: 1em;
}

#tytul, #footer {
  display: inline;
  line-height: 50px;
  height: 50px;
}

#galleries, #photographs, #bigPic, #bigSize {
    margin-top: 50px;
}

.ui-popup-content, .ui-popup-content > img {
  max-width: 900px;
  max-height: 600px;
  padding: 1px;
}

.galeriaMenu {
  float: left;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #555;
  padding: 5px;
}

.zdjecie {
  float: left;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #555;
  padding: 5px;
}

.headerText {
  color: #AAA;
}

#tytulGalerii, #tytulZdjecia {
  display: block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  color: #AAA;
  font-size: 1.5em;
}

.desc {
  color: #BBB;
}

.ramkaZdjecia {
  padding: 5px;
  background-color: #555;
}

.photo {
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

#zdjecia, #duzeZdjecieDiv {
  overflow: auto;
  display: block;
}

#zdjecia, #listaGalerii {
    width: 90%;
    margin: auto;
}

.guziki {
  overflow: auto;
  display: inline-block;
  width: 33.3333%;
}

#guziki {
  display: none;
  width: 270px;
  padding: 3px;
  margin: auto;
}

#prev, #next, #powrot3 {
  float: left;
  font-size: 1.5em;
  width: 80px;
  margin: 5px;
  color: white;
  background-color: #555;
}


#powrot {
    margin: 5px;
    margin-right: 50px;
    width: 60px;
    float: right;
    color: white;
    background-color: #555;
    height: 40px;
    font: 0.8em;
}
